<!DOCTYPE html>
<html lang="en">
<div th:replace="theme/head-tag :: headTag"></div>
<div th:replace="theme/app-style :: appStyle"></div>
<body>
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div><a class="logo" href="/"><img class="img-fluid for-light" th:src="@{/assets/images/logo/logo.png}" width="100px" alt="looginpage"><img class="img-fluid for-dark" th:src="@{/assets/images/logo/logo.png}" width="100px" alt="looginpage"></a></div>
                    <div class="login-main">
                        <form th:action="@{/auth/login}" method="post" class="theme-form">
                            <h3>Sign in to account</h3>
                            <p>Enter your username & password to login</p>
                            <div class="form-group">
                                <label class="col-form-label">Username</label>
                                <input class="form-control" type="text" required="" name="username" placeholder="username123">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" type="password" name="password" required="" placeholder="*********">
                                    <div class="show-hide"><span class="show">                         </span></div>
                                </div>
                            </div>
                            <input id="i-code" type="hidden" name="code" value="">
                            <div class="form-group mb-0">
                                <div class="checkbox p-0">
                                    <input id="checkbox1" type="checkbox">
                                    <label class="text-muted" for="checkbox1">Remember password</label>
                                </div>
                                <a class="link" href="forget-password.html">Forgot password?</a>
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block f-w-700 w-100">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="theme/script :: script"></div>
    <div th:replace="theme/app-script :: appScript"></div>
    <script>
        const code = (new URLSearchParams(window.location.search)).get('code')
        if (code != null) {
            $('#i-code').val(code)
        }
    </script>
</div>
</body>
</html>