<!DOCTYPE html>
<html lang="en">
<div th:replace="theme/head-tag :: headTag"></div>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/summernote.css}">
<div th:replace="theme/app-style :: appStyle"></div>
<body>
<div th:replace="theme/loader :: loader"></div>
<div class="page-wrapper compact-sidebar compact-small material-icon" id="pageWrapper">
    <div th:replace="theme/header :: header"></div>
    <div th:replace="theme/menu :: menu"></div>
    <div class="page-body-wrapper">
        <div th:replace="theme/menu-sidebar :: menuSidebar"></div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-0">
                            <h3>Edit Product</h3>
                        </div>
                        <div class="col-12 col-sm-6 p-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <svg class="stroke-icon">
                                            <use th:href="@{/assets/svg/icon-sprite.svg#breadcrumb-home}"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">Product</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="edit-profile">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 box-col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                                        <div class="item"><img width="80%" th:src="${product.getQRCode()}" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-header card-no-border pb-0">
                                    <h3 class="card-title mb-0">Product Information</h3>
                                    <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                                </div>
                                <div class="card-body row">
                                    <div class="card-wrapper rounded-3 col-xl-4">
                                        <div class="row g-3 floating-wrapper avatar-upload">
                                            <div class="pt-4">
                                                <div>
                                                    <div class="avatar-edit">
                                                        <input id="imageUpload" type="file" accept=".png, .jpg, .jpeg">
                                                        <input id="iImage" type="hidden" th:value="${product.getImage()}" >
                                                        <label for="imageUpload"></label>
                                                    </div>
                                                    <div class="avatar-preview">
                                                        <div id="image" th:style="'background-image: url(' + ${product.getImage()} + ')'"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-wrapper border rounded-3 col-xl-8">
                                        <div class="row g-3 floating-wrapper">
                                            <div class="col-12">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" th:value="${product.getName()}" id="iName" placeholder="Name">
                                                    <label for="iName">Name</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input class="form-control" th:value="${product.getPrice()}" id="iPrice" placeholder="Price" type="number">
                                                    <label for="iPrice">Price</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <select class="form-select" id="iCategory" aria-label="Floating label select example">
                                                        <option th:each="category : ${categories}"
                                                                th:value="${category.get_id()}"
                                                                th:text="${category.getName()}"
                                                                th:selected="${category.get_id() == product.getCategoryId()}"
                                                        ></option>
                                                    </select>
                                                    <label for="iCategory">Category</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-sm-12">
                    <div class="card">
                        <form th:action="${'/product/edit/' + product.get_id()}" method="post" class="card-body">
                            <textarea name="description" th:text="${product.getDescription()}" class="form-control" rows="3" id="t-description"></textarea>
                            <input type="hidden" name="image">
                            <input type="hidden" name="name">
                            <input type="hidden" name="price">
                            <input type="hidden" name="category">
                        </form>
                        <div class="card-footer">
                            <div class="col-12 offset-10">
                                <button id="btn-update" class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="theme/footer :: footer"></div>
        </div>
    </div>
    <div th:replace="theme/script :: script"></div>
    <script src="https://cdn.tiny.cloud/1/free/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <div th:replace="theme/app-script :: appScript"></div>
    <div th:replace="product/form-script :: formScript"></div>
</body>
</html>