<!DOCTYPE html>
<html lang="en">
<div th:replace="theme/head-tag :: headTag"></div>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/summernote.css}">
<div th:replace="theme/app-style :: appStyle"></div>
<body>
<div th:replace="theme/loader :: loader"></div>
<div class="page-wrapper compact-sidebar compact-small material-icon" id="pageWrapper">
    <div th:replace="theme/header :: header"></div>
    <div th:replace="theme/menu :: menu"></div>
    <div class="page-body-wrapper">
        <div th:replace="theme/menu-sidebar :: menuSidebar"></div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-0">
                            <h3>Product Management</h3>
                        </div>
                        <div class="col-12 col-sm-6 p-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <svg class="stroke-icon">
                                            <use th:href="@{/assets/svg/icon-sprite.svg#breadcrumb-home}"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">Product</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="edit-profile">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 box-col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                                        <div class="item"><img width="80%" th:src="${product.getQRCode()}" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-header card-no-border pb-0">
                                    <h3 class="card-title mb-0">Product Information</h3>
                                    <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                                </div>
                                <div class="card-body row">
                                    <div class="card-wrapper rounded-3 col-xl-4">
                                        <div class="row g-3 floating-wrapper avatar-upload">
                                            <div class="pt-4">
                                                <div>
                                                    <div class="avatar-edit">
                                                        <input id="imageUpload" type="file" accept=".png, .jpg, .jpeg">
                                                        <input id="iImage" type="hidden" th:value="${product.getImage()}" >
                                                        <label for="imageUpload"></label>
                                                    </div>
                                                    <div class="avatar-preview">
                                                        <div id="image" th:style="'background-image: url(' + ${product.getImage()} + ')'"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-wrapper border rounded-3 col-xl-8">
                                        <div class="row g-3 floating-wrapper">
                                            <div class="col-12">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" th:value="${product.getName()}" id="iName" placeholder="Name">
                                                    <label for="iName">Name</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input class="form-control" th:value="${product.getPrice()}" id="iPrice" placeholder="Price" type="number">
                                                    <label for="iPrice">Price</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <select class="form-select" id="iCategory" aria-label="Floating label select example">
                                                        <option th:each="category : ${categories}"
                                                                th:value="${category.get_id()}"
                                                                th:text="${category.getName()}"
                                                                th:selected="${category.get_id() == product.getCategoryId()}"
                                                        ></option>
                                                    </select>
                                                    <label for="iCategory">Category</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-sm-12">
                    <div class="card">
                        <form th:action="${'/product/edit/' + product.get_id()}" method="post" class="card-body">
                            <textarea name="description" th:text="${product.getDescription()}" class="form-control" rows="3" id="t-description"></textarea>
                            <input type="hidden" name="image">
                            <input type="hidden" name="name">
                            <input type="hidden" name="price">
                            <input type="hidden" name="category">
                        </form>
                        <div class="card-footer">
                            <div class="col-12 offset-10">
                                <button id="btn-update" class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="theme/footer :: footer"></div>
        </div>
    </div>
    <div th:replace="theme/script :: script"></div>
    <script src="https://cdn.tiny.cloud/1/free/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <div th:replace="theme/app-script :: appScript"></div>
    <script>
        $(document).ready(function () {
            $('#btn-update').on('click', function () {
                const form = $('form')
                $('input[name="image"]').val($('#iImage').val())
                $('input[name="name"]').val($('#iName').val())
                $('input[name="price"]').val($('#iPrice').val())
                $('input[name="category"]').val($('#iCategory').val())
                form.submit()
            })

            tinymce.init({
                selector: 'textarea#t-description',
                content_css: 'tinymce-5-dark',
                skin: 'oxide-dark',
                height: 270,
                plugins: 'advcode table checklist image advlist autolink lists link charmap preview codesample imagetool fullscreen',
                toolbar: 'insertfile | blocks| bold italic | fullscreen | image | link | preview | codesample | bullist numlist checklist |  alignleft aligncenter alignright',
                menubar: 'insert view',
                mobile: {
                    menubar: true
                },
                setup: function(editor) {
                    editor.on('init', function (e) {
                        setTimeout(function() {
                            $("button[tabindex='-1'].tox-notification__dismiss.tox-button.tox-button--naked.tox-button--icon")[0].click()
                        }, 10);
                    })
                },
                file_picker_types: 'image',
                file_picker_callback: function (cb, value, meta) {
                    var input = document.createElement('input')
                    input.setAttribute('type', 'file');
                    input.setAttribute('accept', 'image/*')
                    input.onchange = function () {
                        var file = this.files[0];
                        var reader = new FileReader()
                        reader.onload = function () {
                            var id = 'blobid' + (new Date()).getTime()
                            var blobCache =  tinymce.activeEditor.editorUpload.blobCache
                            var base64 = reader.result.split(',')[1]
                            var blobInfo = blobCache.create(id, file, base64)
                            blobCache.add(blobInfo)
                            cb(blobInfo.blobUri(), { title: file.name })
                        }
                        reader.readAsDataURL(file)
                    }
                    input.click()
                },
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
            });



            $('#imageUpload').on('change', function (e) {
                const file = e.target.files[0];
                if (file) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        const base64Data = e.target.result.split(',')[1];
                        $.ajax({
                            url: 'https://api.imgbb.com/1/upload?expiration=0&key=44c3abcbb4d3f91a34d5d66a5f232cce',
                            method: 'POST',
                            data: { image: base64Data },
                            success: function (response) {
                                const url = response.data.display_url
                                $('#iImage').val(url)
                                $('#image').css('background-image', `url('${url}')`)
                            },
                        });
                    };

                    reader.readAsDataURL(file);
                }
            });
        })

    </script>
</body>
</html>