<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center mt-5">

            </div>
        </div>

        <div class="col-12">
            <div class="text-content d-flex justify-content-center align-items-center flex-column">
                <h1>404 Error</h1>
                <p>
                    The page you are looking for might have been removed had its name changed or is temporarily unavailable.
                </p>

                <a href="/" class="btn btn-primary">Go To Homepage</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>