<!DOCTYPE html>
<html lang="en">
<div th:replace="theme/head-tag :: headTag"></div>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatables.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatable-extension.css}">
<div th:replace="theme/app-style :: appStyle"></div>
<body>
<div th:replace="theme/loader :: loader"></div>
<div class="page-wrapper compact-sidebar compact-small material-icon" id="pageWrapper">
    <div th:replace="theme/header :: header"></div>
    <div th:replace="theme/menu :: menu"></div>
    <div class="page-body-wrapper">
        <div th:replace="theme/menu-sidebar :: menuSidebar"></div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-0">
                            <h3>Transaction</h3>
                        </div>
                        <div class="col-12 col-sm-6 p-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <svg class="stroke-icon">
                                            <use th:href="@{/assets/svg/icon-sprite.svg#breadcrumb-home}"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">Transaction</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header card-no-border pb-0">
                                <h3>User Information</h3>
                            </div>
                            <div class="card-body">
                                <div class="card-wrapper border rounded-3">
                                    <div class="row g-3 floating-wrapper">
                                        <input type="hidden" name="iId">
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input name="phone" th:value="${user.getPhone()}" class="form-control" id="iPhone" type="text" placeholder="Phone">
                                                <label for="iPhone">Phone</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input name="name" th:value="${user.getName()}" class="form-control" id="iName" type="text" placeholder="Name">
                                                <label for="iName">Name</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input name="address" th:value="${user.getAddress()}" class="form-control" id="iAddress" type="text" placeholder="Address">
                                                <label for="iAddress">Address</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="card">
                            <div class="card-header pb-0 card-no-border">
                                <h3>Transactions</h3>
                                <div class="card-body">
                                    <div class="dt-ext table-responsive theme-scrollbar">
                                        <table class="display">
                                            <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Money</th>
                                                <th>Payment Method</th>
                                                <th>Created At</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="order : ${orders}">
                                                <td th:utext="${order.getStatusCard()}"></td>
                                                <td th:text="${order.getTotal()}" class="td-price"></td>
                                                <td th:text="${order.getPaymentMethod()}"></td>
                                                <td th:text="${order.getCreatedAt()?.toLocaleString()}"></td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-header card-no-border">
                                <div class="header-top">
                                    <h3>Order</h3>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <ul class="list-unstyled balance-card">
                                    <li><h2 class="h-money" th:text="${transaction.getTotal()}"></h2></li>
                                </ul>
                                <div class="card-wrapper border mt-3 rounded-3 h-100 checkbox-checked">
                                    <h6 class="sub-title">Select payment method</h6>
                                    <div class="payment-wrapper">
                                        <div class="payment-first">
                                            <div class="form-check radio radio-primary">
                                                <input class="form-check-input" id="ptm11" type="radio" name="radio1" value="option1" checked>
                                                <label class="form-check-label mb-0" for="ptm11">Domestic card and bank account</label>
                                            </div>
                                        </div>
                                        <div class="payment-second"><img class="img-fluid" th:src="@{/assets/images/ecommerce/card.png}" alt="card"></div>
                                    </div>
                                    <div class="payment-wrapper">
                                        <div class="payment-first">
                                            <div class="form-check radio radio-primary">
                                                <input class="form-check-input" id="ptm22" type="radio" name="radio1" value="option1">
                                                <label class="form-check-label mb-0" for="ptm22">MasterCard</label>
                                            </div>
                                        </div>
                                        <div class="payment-second"><img class="img-fluid" th:src="@{/assets/images/ecommerce/mastercard.png}" alt="card"></div>
                                    </div>
                                    <div class="payment-wrapper">
                                        <div class="payment-first">
                                            <div class="form-check radio radio-primary">
                                                <input class="form-check-input" id="ptm33" type="radio" name="radio1" value="option1">
                                                <label class="form-check-label mb-0" for="ptm33">Paypal</label>
                                            </div>
                                        </div>
                                        <div class="payment-second"><img class="img-fluid" th:src="@{/assets/images/ecommerce/paypal.png}" alt="card"></div>
                                    </div>
                                    <div class="payment-wrapper">
                                        <div class="payment-first">
                                            <div class="form-check radio radio-primary">
                                                <input class="form-check-input" id="ptm44" type="radio" name="radio1" value="option1">
                                                <label class="form-check-label mb-0" for="ptm44">VISA</label>
                                            </div>
                                        </div>
                                        <div class="payment-second"><img class="img-fluid" th:src="@{/assets/images/ecommerce/visa.png}" alt="card"></div>
                                    </div>
                                </div>
                                <button class="mt-3 btn btn-pill btn-air-info btn-info-gradien" type="button">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="theme/script :: script"></div>
    <script th:src="@{/assets/js/datatable/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/jszip.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.colVis.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/pdfmake.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/vfs_fonts.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.autoFill.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.select.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.print.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.colReorder.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.scroller.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/custom.js}"></script>
    <script th:src="@{/assets/js/tooltip-init.js}"></script>
    <div th:replace="theme/app-script :: appScript"></div>
    <script>
        formatVNDByClass("h-money")

        const iId = $('#iId')
        const iName = $('#iName')
        const iAddress = $('#iAddress')
        const table = new DataTable('table')
        $('#iPhone').on('change', async function () {
            table.clear().draw()
            iId.val('')
            iName.val('')
            iAddress.val('')

            const phone = $(this).val()
            const user = await $.ajax({
                url: `/api/user/?phone=${phone}`,
            })
            if (! user) return
            iId.val(user._id)
            iName.val(user.name)
            iAddress.val(user.address)

            table.clear().draw()
            const orders = await $.ajax({
                url: `/api/order/?userId=${user._id}`,
            })
            orders.forEach(function (order) {
                table.row.add([
                    order.statusCard,
                    formatVND(order.total),
                    order.paymentMethod,
                    order.createdAt,
                ]).draw(false)
            })
        })

    </script>
</body>
</html>