<!DOCTYPE html>
<html lang="en">
<div th:replace="theme/head-tag :: headTag"></div>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatables.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatable-extension.css}">
<div th:replace="theme/app-style :: appStyle"></div>
<body>
<div th:replace="theme/loader :: loader"></div>
<div class="page-wrapper compact-sidebar compact-small material-icon" id="pageWrapper">
    <div th:replace="theme/header :: header"></div>
    <div th:replace="theme/menu :: menu"></div>
    <div class="page-body-wrapper">
        <div th:replace="theme/menu-sidebar :: menuSidebar"></div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-0">
                            <h3>Transaction</h3>
                        </div>
                        <div class="col-12 col-sm-6 p-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <svg class="stroke-icon">
                                            <use th:href="@{/assets/svg/icon-sprite.svg#breadcrumb-home}"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">Transaction</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header pb-0 card-no-border">
                                <h3>Users</h3>
                                <div class="card-body badge-spacing">
                                    <form class="theme-form">
                                        <div class="input-group m-0 flex-nowrap">
                                            <input id="i-search" class="typeahead form-control-plaintext" type="search" placeholder="Pixelstrap ..">
                                            <button id="btn-add" class="btn btn-secondary" type="button">
                                                Add
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-body">
                                    <div class="order-history table-responsive wishlist">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Product Image</th>
                                                <th>Product Name</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Action</th>
                                                <th>Sub Total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="productInfo : ${productInfos}">
                                                <td><img class="img-fluid img-90" th:src="${productInfo.getProduct().getImage()}" alt="#"></td>
                                                <td>
                                                    <div class="product-name"><a href="#" th:text="${productInfo.getProduct().getName()}"></a></div>
                                                </td>
                                                <td class="td-money" th:text="${productInfo.getProduct().getPrice()}"></td>
                                                <td>
                                                    <fieldset class="qty-box">
                                                        <div class="input-group">
                                                            <input th:data-name="${productInfo.getProduct().getName()}" readonly class="touchspin text-center b-r-0" type="text" th:value="${productInfo.getQuantity()}">
                                                        </div>
                                                    </fieldset>
                                                </td>
                                                <td><i th:data-name="${productInfo.getProduct().getName()}" class="btn-remove_product" data-feather="x-circle"></i></td>
                                                <td class="td-money td-subtotal" th:text="${productInfo.getSubTotal()}"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"></td>
                                                <td class="total-amount">
                                                    <h4 class="m-0 text-end"><span class="f-w-700">Total Price :</span></h4>
                                                </td>
                                                <td><span class="td-money" id="span-total" th:text="${transaction.getTotal()}"></span></td>
                                            </tr>
                                            <tr>
                                                <td class="text-end" colspan="5"></td>
                                                <td><a class="btn btn-success cart-btn-transform" th:href="@{/transaction/next?step=fill-user-info}">Continue</a></td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="theme/script :: script"></div>
    <script th:src="@{/assets/js/datatable/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/jszip.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.colVis.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/pdfmake.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/vfs_fonts.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.autoFill.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.select.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.print.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.colReorder.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.scroller.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/custom.js}"></script>
    <script th:src="@{/assets/js/tooltip-init.js}"></script>
    <script th:src="@{/assets/js/touchspin/vendors.min.js}"></script>
    <script th:src="@{/assets/js/touchspin/touchspin.js}"></script>
    <script th:src="@{/assets/js/touchspin/input-groups.min.js}"></script>
    <script th:src="@{/assets/js/typeahead/handlebars.js}"></script>
    <script th:src="@{/assets/js/typeahead/typeahead.bundle.js}"></script>
    <div th:replace="theme/app-script :: appScript"></div>
    <script>
        formatVNDByClass("td-money")
        $('.btn-remove_product').on('click', function () {
            const tr = $(this).closest('tr')
            $.ajax({
                url: `/api/transaction/add-to-cart?name=${$(this).data('name')}&qty=0`,
                method: 'POST',
                success: function (e) {
                    tr.remove()
                    $('#span-total').text(formatVND(e.transaction.total))
                }
            })
        })
        $('.qty-box').on('click', function () {
            const iQty = $(this).find('input')
            const name = iQty.data('name')
            const tdSubtotal = $(this).closest('tr').find('.td-subtotal')
            const tr = $(this).closest('tr')
            $.ajax({
                url: `/api/transaction/add-to-cart?name=${name}&qty=${iQty.val()}`,
                method: 'POST',
                success: function (e) {
                    e.productInfo.quantity === 0 ? tr.remove() : tdSubtotal.text(formatVND(e.productInfo.subTotal))
                    $('#span-total').text(formatVND(e.transaction.total))
                }
            })
        })

        $('#btn-add').on('click', function () {
            const iSearch = $('#i-search')

            $.ajax({
                url: `/api/transaction/add-to-cart?name=${iSearch.val()}&type=plus`,
                method: 'POST',
                success: function () {
                    window.location.reload()
                }
            })
        })


        $.ajax({
            url: `/api/product/`,
            success: function (products) {
                $('.typeahead').typeahead(
                    {

                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'products',
                        source: substringMatcher(products)
                    }
                );
            },
        })
        const substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                let matches, substringRegex;
                matches = [];
                const substrRegex = new RegExp(q, 'i');
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });
                cb(matches);
            };
        };



    </script>
</body>
</html>