<!DOCTYPE html>
<html lang="en">
<div th:replace="theme/head-tag :: headTag"></div>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatables.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatable-extension.css}">
<div th:replace="theme/app-style :: appStyle"></div>
<body>
<div th:replace="theme/loader :: loader"></div>
<div class="page-wrapper compact-sidebar compact-small material-icon" id="pageWrapper">
    <div th:replace="theme/header :: header"></div>
    <div th:replace="theme/menu :: menu"></div>
    <div class="page-body-wrapper">
        <div th:replace="theme/menu-sidebar :: menuSidebar"></div>
        <div class="page-body">
            <div class="container-fluid pt-3">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-wrapper border rounded-3">
                                    <div class="pt-lg-5 row g-3 floating-wrapper">
                                        <h2>Order is expired in</h2>
                                        <h1>09:59</h1>

                                        <h2 class="pt-5">Total</h2>
                                        <h3>1,000,000 VND</h3>

                                        <h2 class="pt-5">Transaction ID</h2>
                                        <h3>1561651b6df1b65f1d</h3>

                                        <div class="pb-lg-5 mx-auto">
                                            <a th:href="@{/transaction/next?step=payment}" class="mt-3 btn btn-pill btn-air-info btn-info-gradien" type="button">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="card">
                            <div class="card-header pb-0 card-no-border">
                                <div class="card-body">
                                    <h2 align="center">Scan QR for payment</h2>
                                    <img class="mx-auto p-5 d-block w-75 center" src="https://api.vietqr.io/image/970415-0984124239-8uTkd8i.jpg?amount=30000&addInfo=xin%20chao%20cac%20ban">
                                    <p align="center">Use Momo or VNPay or any mobile banking application that support QR code to scan</p>
                                    <p align="center">
                                        <img height="20px" src="https://media.tenor.com/JeNT_qdjEYcAAAAj/loading.gif" alt="">
                                        Waiting for you to scan
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="theme/script :: script"></div>
    <div th:replace="theme/app-script :: appScript"></div>
    <script>



    </script>
</body>
</html>
