<!DOCTYPE html>
<html lang="en">
<div th:replace="theme/head-tag :: headTag"></div>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatables.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatable-extension.css}">
<div th:replace="theme/app-style :: appStyle"></div>
<body>
<div th:replace="theme/loader :: loader"></div>
<div class="page-wrapper compact-sidebar compact-small material-icon" id="pageWrapper">
    <div th:replace="theme/header :: header"></div>
    <div th:replace="theme/menu :: menu"></div>
    <div class="page-body-wrapper">
        <div th:replace="theme/menu-sidebar :: menuSidebar"></div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-0">
                            <h3>User Management</h3>
                        </div>
                        <div class="col-12 col-sm-6 p-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <svg class="stroke-icon">
                                            <use th:href="@{/assets/svg/icon-sprite.svg#breadcrumb-home}"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">User</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="edit-profile">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-header card-no-border pb-0">
                                    <h3 class="card-title mb-0">Information</h3>
                                    <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                                </div>
                                <form th:action="@{/user/update}" method="post" class="card-body row">
                                    <div class="card-wrapper rounded-3 col-xl-4">
                                        <div class="row g-3 floating-wrapper avatar-upload">
                                            <div class="pt-4">
                                                <div>
                                                    <div class="avatar-edit">
                                                        <input id="imageUpload" type="file" accept=".png, .jpg, .jpeg">
                                                        <input id="i-avatar" type="hidden" name="avatar" th:value="${session.authed.getAvatar()}" >
                                                        <label for="imageUpload"></label>
                                                    </div>
                                                    <div class="avatar-preview">
                                                        <div id="image" th:style="'background-image: url(' + ${session.authed.getAvatar()} + ')'"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-wrapper border rounded-3 col-xl-8">
                                        <div class="row g-3 floating-wrapper">
                                            <div class="col-12">
                                                <div class="form-floating mb-3">
                                                    <input disabled name="email" id="iEmail" class="form-control" th:value="${session.authed.getEmail()}" placeholder="Email">
                                                    <label for="iEmail">Email Address</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input name="name" class="form-control" th:value="${session.authed.getName()}" id="iName" placeholder="Name">
                                                    <label for="iName">Name</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input name="phone" th:value="${session.authed.getPhone()}" class="form-control" id="iPhone" type="text" placeholder="Phone">
                                                    <label for="iPhone">Phone</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input name="address" th:value="${session.authed.getAddress()}" class="form-control" id="iAddress" type="text" placeholder="Address">
                                                    <label for="iAddress">Address</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary" type="submit">Change information</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-header card-no-border pb-0">
                                    <h3>Password</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-wrapper border rounded-3">
                                        <form id="form-password" th:action="@{/user/update-password}" method="post" class="row g-3 floating-wrapper">
                                            <div class="col-12">
                                                <div class="form-floating mb-3">
                                                    <input name="oldPassword" class="form-control" id="floatingInput22" type="password" placeholder="Current Password">
                                                    <label for="floatingInput22">Current password</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input name="password" class="form-control" id="floatingPassword" type="password" placeholder="New Password">
                                                    <label for="floatingPassword">New Password</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input name="re_password" class="form-control" id="floatingPassword2" type="password" placeholder="Retype New Password">
                                                    <label for="floatingPassword2">Retype New Password</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary" type="submit">Change password</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="theme/script :: script"></div>
    <div th:replace="theme/app-script :: appScript"></div>
    <script>
        $('#form-password').submit(function (event) {
            const password = $('input[name="password"]').val();
            const rePassword = $('input[name="re_password"]').val();

            if (password !== rePassword) {
                swal({
                    title: "Error",
                    text: "Password is not match",
                    icon: "error",
                })
                event.preventDefault();
            }
        })
        $('#imageUpload').on('change', function (e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const base64Data = e.target.result.split(',')[1];
                    $.ajax({
                        url: 'https://api.imgbb.com/1/upload?expiration=0&key=44c3abcbb4d3f91a34d5d66a5f232cce',
                        method: 'POST',
                        data: { image: base64Data },
                        success: function (response) {
                            const url = response.data.display_url
                            $('#i-avatar').val(url)
                            $('#image').css('background-image', `url('${url}')`)
                        },
                    });
                };

                reader.readAsDataURL(file);
            }
        });
    </script>
</body>
</html>