<!DOCTYPE html>
<html lang="en">
<div th:replace="theme/head-tag :: headTag"></div>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatables.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatable-extension.css}">
<div th:replace="theme/app-style :: appStyle"></div>
<body>
<div th:replace="theme/loader :: loader"></div>
<div class="page-wrapper compact-sidebar compact-small material-icon" id="pageWrapper">
    <div th:replace="theme/header :: header"></div>
    <div th:replace="theme/menu :: menu"></div>
    <div class="page-body-wrapper">
        <div th:replace="theme/menu-sidebar :: menuSidebar"></div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-0">
                            <h3>Customer Management</h3>
                        </div>
                        <div class="col-12 col-sm-6 p-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <svg class="stroke-icon">
                                            <use th:href="@{/assets/svg/icon-sprite.svg#breadcrumb-home}"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">Customer</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header pb-0 card-no-border">
                                <h3>Users</h3>
                            <div class="card-body">
                                <div class="dt-ext table-responsive theme-scrollbar">
                                    <table class="display" id="export-button">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                            <th>Created At</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td class="btn-hover-effect">
                                                <img class="img-30 me-2" th:src="${user.getAvatar()}" alt="profile">
                                                <span th:text="${user.getName()}"></span>
                                            </td>
                                            <td th:text="${user.getPhone()}"></td>
                                            <td th:text="${user.getAddress()}"></td>
                                            <td th:text="${user.getCreatedAt()?.toLocaleString()}"></td>
                                            <td>
                                                <a th:href="${'/user/' + user.get_id()}" class="btn btn-pill btn-outline-info btn-air-info btn-sm m-r-5" type="button">View</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="theme/script :: script"></div>
<script th:src="@{/assets/js/datatable/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.buttons.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/jszip.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/buttons.colVis.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/pdfmake.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/vfs_fonts.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.autoFill.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.select.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/buttons.html5.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/buttons.print.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.keyTable.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.colReorder.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.scroller.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/custom.js}"></script>
<script th:src="@{/assets/js/tooltip-init.js}"></script>
<div th:replace="theme/app-script :: appScript"></div>
</body>
</html>