<!DOCTYPE html>
<html lang="en">
<div th:replace="theme/head-tag :: headTag"></div>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatables.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatable-extension.css}">
<div th:replace="theme/app-style :: appStyle"></div>
<body>
<div th:replace="theme/loader :: loader"></div>
<div class="page-wrapper compact-sidebar compact-small material-icon" id="pageWrapper">
    <div th:replace="theme/header :: header"></div>
    <div th:replace="theme/menu :: menu"></div>
    <div class="page-body-wrapper">
        <div th:replace="theme/menu-sidebar :: menuSidebar"></div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-0">
                            <h3>Customer Management</h3>
                        </div>
                        <div class="col-12 col-sm-6 p-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/static">
                                        <svg class="stroke-icon">
                                            <use th:href="@{/assets/svg/icon-sprite.svg#breadcrumb-home}"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">User</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="user-profile">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card hovercard text-center">
                                <div class="user-image">
                                    <div class="avatar"><img alt="" class="img-100" src="https://cdn-icons-png.flaticon.com/512/6009/6009864.png"></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
                                            <div class="row">
                                                <div class="col-md-6"><div class="ttl-info text-start"></div></div>
                                                <div class="col-md-6">
                                                    <div class="ttl-info text-start">
                                                        <h6><i class="fa fa-phone"></i>   Phone</h6><span th:text="${user.getPhone()}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                                            <div class="user-designation">
                                                <div class="title"><a th:text="${user.getName()}"></a></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="ttl-info text-start">
                                                        <h6><i class="fa fa-location-arrow"></i>   Address</h6><span th:text="${user.getPhone()}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="follow">
                                        <div class="row">
                                            <div class="col-6 text-md-end border-right">
                                                <div class="follow-num counter">25869</div><span>Purchase Time</span>
                                            </div>
                                            <div class="col-6 text-md-start">
                                                <div class="follow-num counter">659887</div><span>Money Spent</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header pb-0 card-no-border">
                                <h3>Transaction History</h3>
                                <div class="card-body">
                                    <div class="dt-ext table-responsive theme-scrollbar">
                                        <table class="display" id="export-button">
                                            <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Money</th>
                                                <th>Payment Method</th>
                                                <th>Created At</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="order : ${orders}">
                                                <td th:utext="${order.getStatusCard()}"></td>
                                                <td th:text="${order.getTotal()}"></td>
                                                <td th:text="${order.getPaymentMethod()}"></td>
                                                <td th:text="${user.getCreatedAt()?.toLocaleString()}"></td>
                                                <td>
                                                    <a class="btn btn-pill btn-outline-info btn-air-info btn-sm m-r-5" type="button">View</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="theme/script :: script"></div>
    <script th:src="@{/assets/js/datatable/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/jszip.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.colVis.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/pdfmake.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/vfs_fonts.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.autoFill.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.select.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/buttons.print.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.colReorder.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/dataTables.scroller.min.js}"></script>
    <script th:src="@{/assets/js/datatable/datatable-extension/custom.js}"></script>
    <script th:src="@{/assets/js/tooltip-init.js}"></script>
    <div th:replace="theme/app-script :: appScript"></div>
    <script>
        $('.btn-toggle_lock').on('click', function () {
            const userId = $(this).data('id');
            console.log(userId)
            swal({
                title: "Are you sure?",
                text: $(this).data('text'),
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: `/user/toggle-lock-account?userId=${userId}`,
                        method: 'POST',
                        success: function () {
                            swal("Successfully", {
                                icon: "success",
                            }).then(() => {window.location.reload();});
                        },
                    })
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
        })


    </script>
</body>
</html>