<footer th:fragment="footer" class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 footer-copyright footer-content">
                <p class="mb-0">Copyright 2023 © Boho theme by pixelstrap  </p>
                <p class="mb-0">Hand crafted & made with
                    <svg class="footer-icon">
                        <use th:href="@{/assets/svg/icon-sprite.svg#Heart}"></use>
                    </svg>
                </p>
            </div>
        </div>
    </div>
</footer>