<!DOCTYPE html>
<html lang="en">
<div th:replace="theme/head-tag :: headTag"></div>
<body>
<!-- loader starts  -->
<div class="loader">
    <div class="jumpy-bars">
        <div class="bar" id="bar1"></div>
        <div class="bar" id="bar2"></div>
        <div class="bar" id="bar3"></div>
        <div class="bar" id="bar4"></div>
        <div class="bar" id="bar5"></div>
        <div class="bar" id="bar6"></div>
        <div class="bar" id="bar7"></div>
    </div>
</div>
<!-- loader ends-->
<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-sidebar compact-small material-icon" id="pageWrapper">
    <div th:replace="theme/header :: header"></div>
    <div th:replace="theme/menu :: menu"></div>

    <div class="page-body-wrapper">
        <div th:replace="theme/menu-sidebar :: menuSidebar"></div>

        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-0">
                            <h3>Sample Page</h3>
                        </div>
                        <div class="col-12 col-sm-6 p-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">
                                    <svg class="stroke-icon">
                                        <use th:href="@{/assets/svg/icon-sprite.svg#breadcrumb-home}"></use>
                                    </svg></a></li>
                                <li class="breadcrumb-item">Pages</li>
                                <li class="breadcrumb-item active">Sample Page</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header card-no-border pb-0">
                                <h3>Sample Card</h3><span>Prior to publishing content on social media</span>
                            </div>
                            <div class="card-body">
                                <p>"While written content continues to reign supreme as the cornerstone of every brand's digital marketing strategy, video and image-based content are becoming more and more prominent in the world of content marketing. The regular blog, social media posts, and a wide range of other written content formats are just a few examples."</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div th:replace="theme/footer :: footer"></div>

    </div>
</div>

<div th:replace="theme/script :: script"></div>

</body>
</html>